<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="leg_transmission">

    	<!-- Slider -->
		<transmission name="slider_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="slider_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="slider_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
    	<!-- Upper leg -->
		<transmission name="hfe_upper_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="hfe_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="hfe_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
    	<!-- Lower leg -->
		<transmission name="kfe_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="kfe_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="kfe_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

	</xacro:macro>

</robot>
