<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- Things that are needed only for Gazebo (not the physical robot). These include sensor and controller plugin specifications -->

	<!-- =============================== Support =============================== -->
	<!-- The xacro macro xacro:hyl_support contains: support of HyL -->
	<xacro:macro name="hyl_support" params="parent">
		<joint name="${parent}_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="base_link"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>

		<link name="base_link">
			<inertial>
				<origin xyz="0 0 0"/>
				<mass value="0.1"/>
				<inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
			</inertial>
			<collision>
				<origin xyz="0 0 0.575" rpy="0 0 0" />
				<geometry>
					<box size="0.12 0.045 1.15" />
				</geometry>
			</collision>
			<visual>
				<origin xyz="0 0 0.575" rpy="0 0 0" />
				<geometry>
					<box size="0.12 0.045 1.15" />
				</geometry>
			</visual>
		</link>
	</xacro:macro>

</robot>
