<?xml version="1.0"?>

<robot>

	<property name="PI" value="3.1415926535897931"/>

	<!-- standard distances -->
	<property name="d_lr" value="0.26"/>
	<property name="d_p0p1" value="0.08"/>
	<property name="d_p1p2" value="0.35"/>
	<property name="d_p2p3" value="0.341"/>

	<!-- Inertial values -->
	<!-- Trunk -->
	<property name="xcom_trunk" value="-0.06532"/>
	<property name="ycom_trunk" value="0.04079"/>
	<property name="zcom_trunk" value="-0.01136"/>
	<property name="m_trunk" value="2.5893"/>
	<property name="ixx_trunk" value="0.012727"/>
	<property name="iyy_trunk" value="0.041992"/>
	<property name="izz_trunk" value="0.047339"/>
	<property name="ixy_trunk" value="0.008496"/>
	<property name="ixz_trunk" value="-0.0000107"/>
	<property name="iyz_trunk" value="0.00000331"/>
	<!-- Hip assembly leg -->
	<property name="xcom_hipassembly" value="0.03951"/>
	<property name="ycom_hipassembly" value="0.00023"/>
	<property name="zcom_hipassembly" value="0.16045"/>
	<property name="m_hipassembly" value="2.7754"/>
	<property name="ixx_hipassembly" value="0.122710"/>
	<property name="iyy_hipassembly" value="0.130957"/>
	<property name="izz_hipassembly" value="0.009731"/>
	<property name="ixy_hipassembly" value="0.000022"/>
	<property name="ixz_hipassembly" value="0.018692"/>
	<property name="iyz_hipassembly" value="0.000007"/>
	<!-- Upper leg -->
	<property name="xcom_upperleg" value="0.14925"/>
	<property name="ycom_upperleg" value="-0.02996"/>
	<property name="zcom_upperleg" value="-0.00005"/>
	<property name="m_upperleg" value="2.06218"/>
	<property name="ixx_upperleg" value="0.00464"/>
	<property name="iyy_upperleg" value="0.07216"/>
	<property name="izz_upperleg" value="0.07463"/>
	<property name="ixy_upperleg" value="-0.00718"/>
	<property name="ixz_upperleg" value="-0.00001"/>
	<property name="iyz_upperleg" value="-0.00001"/>
	<!-- Lower leg -->
	<property name="xcom_lowerleg" value="0.12185"/>
	<property name="ycom_lowerleg" value="0.00058"/>
	<property name="zcom_lowerleg" value="-0.00012"/>
	<property name="m_lowerleg" value="0.80669"/>
	<property name="ixx_lowerleg" value="0.00042"/>
	<property name="iyy_lowerleg" value="0.02202"/>
	<property name="izz_lowerleg" value="0.02183"/>
	<property name="ixy_lowerleg" value="0.0"/>
	<property name="ixz_lowerleg" value="0.0"/>
	<property name="iyz_lowerleg" value="0.0"/>

</robot>
